.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/*---- General Styling ---------*/

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body{
    font-family: 'Indie Flower', cursive;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#home-page {
    height: 100vh;
    min-height: 600px;
    width: 100%;
/*    overflow: hidden;*/
}

/*____________________________________________________________*/
/*------- VIDEO BG --------*/
.videobg {
    position: fixed;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.8);;
    background-image: url(/assets/videos/paint1.png);

    /** FULL SCREENING **/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;


    filter:brightness(100%);
    -webkit-filter:brightness(100%);
    -moz-filter:brightness(30%);
    -o-filter:brightness(30%);
    -ms-filter:brightness(30%);
}

/
/*-------------------------------------------------------------- */
/*------- BODY ----------*/
/*--------------------------------------------------------*/
/*** HEADER ***/

#header {
    width: 100%;
    height: 50px !important;
    
}

#iO-menu.top-bar {
    color: #efefef !important;
    background-color:transparent;
    padding: .5rem 2rem;
}

#iO-menu.top-bar ul{
    color: #efefef!important;
    background-color:transparent;
}

#iO-menu.top-bar li a {
    color: #efefef !important;
    font-size: 1.1rem;
    letter-spacing: -.05rem;
    font-weight: 600;
    
}

#iO-menu.top-bar li a:hover {


}

.ioTitle {
    color: #efefef !important;
    font-size: 3.5rem;
    letter-spacing: -.05rem;
    font-weight: 600;
}

    /* Small only */
    @media screen and (max-width: 39.9375em) {
        .ioTitle {
            width: 100%;
/*            text-align: center*/
        }
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #iO-menu .top-bar-left {
/*            width: 100%;*/
        }

        #iO-menu .top-bar-right ul {
/*            margin-left: 33%;*/
        }


        .ioTitle {
/*            text-align: center*/
        }

    }

#iO-menu {}

#iO-menu .top-bar-right {
    width: 100%;
}


/* Small only */
    @media screen and (max-width: 39.9375em) {
        #iO-menu .top-bar-right ul {
/*            margin-left: 33%;*/
        }

        #emos {
/*            position: absolute;*/
/*            margin-left: 50%;*/
        }
    }

#iO-menu #emotions {
    display: flex !important;
    background-color: transparent;
    border: 1px #555 solid;
    width: 165px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
}

#iO-menu #emotions:hover {
/*    background-color: #e6e6e6;    */
}

#iO-menu #emotions>* {
    width: auto;
}

#iO-menu #emotions>.arrow {
    margin-left: 5px;
}

#iO-menu #emotions>.arrow img {
    width: 50%;
}

#emos {
    left: auto;
    right: auto !important;
    width: 165px !important;
    min-width: 160px;
    border: 0px solid;

}

#emos>li {
    width: 165px !important;
}

#emos>li:hover {
/*    background-color:rgba(192,192,192,0.6);*/
/*    color: #fff;*/
}

#emos>li a {
/*    padding: .7rem 1rem;*/
    width: 165px !important;
    text-align: center;
}

#emos>li a:hover {
/*    background-color:rgba(192,192,192,0.4);*/
    border: 1px #555 solid;
}

/*hover stuff*/
#emos #nav-anger:hover {
    color: crimson !important;
}
#emos #nav-joy:hover {
    color: yellow !important;
}
#emos #nav-disguist:hover {
    color: green !important;
}
#emos #nav-fear:hover {
    color: rebeccapurple!important;
}
#emos #nav-sadness:hover {
    color: mediumblue!important;
}

/*--------------------------------------------------------*/
/*---------- Content ---------*/
.container {
    height: calc(100% - 135px);
}

.columns, .column {
    margin: 0 auto;
    padding: 0;
}

#body-content {
    height: auto;
    min-height: 500px;
/*    width: 60%;*/
    min-width: 500px;
/*    max-width: 700px;;*/
    position: relative;
    margin-top: 70px;
}

    /* Small only */
    @media screen and (max-width: 39.9375em) {
        #body-content {
            height: auto;
            min-height: 300px;
            min-width: 95%;
            margin-top: 150px;
        }
    }
    
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #body-content {
            height: auto;
            min-height: 400px;
            width: 80%;
            margin-top: 10px;
            
        }
    }




/*ROW 2*/
#icon-row-2 {
    position: relative;
    height: auto;
    min-height: 250px;
/*    padding-top: 30px;*/
    
    flex-flow: row wrap;
}

#icon-row-2 .circleBase {
    border-radius: 50%;
    background: transparent;
/*    border: 3px solid;*/
    overflow: hidden;

    width: 180px;
    height: 180px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

#icon-row-2 .circleBase img {
    float:left;
    width:100%;
    padding-top: 0;
    margin-top:0;
    line-height:1em;
    text-align:center;
    color:white;
}

    /* Small only */
    @media screen and (max-width: 35.9375em) {
        #icon-row-2 {
            position: relative;
            height: auto;
            min-height: 250px;
            flex-flow: row wrap;
            margin-top: 300px;
        }
    }


    /* Medium only */
    @media screen and (min-width: 30em) and (max-width: 63.9375em) {
        #icon-row-2 {
            position: relative;
            height: auto;
            min-height: 250px;
            margin-top: 00px;
        }

        #icon-row-2 .circleBase {
            margin-right: 5%;
            margin-left: 0%;
            margin-bottom: 5%;
        }        
    }

/***** Animations *****/
/**Animation shorthand is:
    animation:name duration timing-function delay iteration-count   direction fill-mode play-state
    Default value:	none 0 ease 0 1 normal none running
**/

/*bounceInUp*/
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

/*pulse*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}












#anger {
    border:red;
/*    margin-left: 22%;*/
    margin-top: -30%;

    /*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

    -webkit-animation: bounceInUp 5s ease -.5s,
        pulse 3s ease 5s infinite ;
    animation:  bounceInUp 5s ease -.5s,
        pulse 3s ease 5s infinite ;



}

#anger:hover {}
#joy {
/*    border:yellow 3px solid;*/
/*
    margin-left: 0;
    margin-top: 0;
*/

    -webkit-animation: bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
    animation:  bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
}

#disguist {
    border:green;
/*
    margin-left: 50%;
    margin-top: 0;
*/

    -webkit-animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
    animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
}

#sad {
    border:blue;
/*
    margin-left: 43%;
    margin-top: -30%;
*/
    -webkit-animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
    animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
}

#fear {
    border:purple;
/*
    margin-left: 3%;
    margin-top: -30%;
    
*/
   -webkit-animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;

    animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;
}

#anger:hover, #joy:hover, #disguist:hover, #fear:hover, #sad:hover {
/*
    -webkit-animation-name: shake;
    animation-name: shake;
*/
    cursor: pointer;
}






/* Small only */
    @media screen and (max-width: 39.9375em) {
        #anger {
            margin-top: 0%;
        }

/*
        #disguist {
            margin-top: 10%;
        }

        #sad {
            margin-top: -60%;
        }

        #joy {
            margin-top: 10%;
        }
*/
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 53.9375em) {
        #anger {
        margin-top: 0%;
        }
    }

/******-----------------------------------------*********/
/*BUBBLE*/
/***Creating a Circular buble div ***/

/******-----------------------------------------*********/
/* for large and medium screens */
/*** Responsive size ***/
.bubble {
   width:50%; /* Our bubble will be 200px wide and 200px tall */
   height:0;
/*   margin:47% auto  auto;*/
   box-shadow:inset 30px 30px 75px rgba(0,0,0,.1), /* this gives us our subtle light gray background gradient */
              inset 0px 0px 15px rgba(0,0,0,.5), /* this gives us the darker gray border around the whole bubble */
              inset 0px 0px 55px rgba(255,255,255,.5), /* this gives us the more subtle white gradient all around the edge of the bubble */
              inset 3px 3px 5px rgba(0,0,0,.5), /* this gives us the slightly darker top left edge */
              0 0 50px rgba(255,255,255,.75); /* this puts a white glow all around the outside of the bubble to better contrast the edge */
   border-radius:50%; /* making our border-radius half the width/height ensures a perfectly round circle */
   background:rgba(255,255,255,.4); /* makes our bubble slightly lighter in color than the background */
   position:relative; /* allows us to absolutely position the pseudo elements within the bubble */
}

.bubble:before { /* adds the white highlight on the top left of the bubble */
   content:"";
   display:block;
   position:absolute;
   width:50%;
   height:50%;
   top:7%;
   left:7%;
   border-radius: 150px 50px;
   box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
}

.bubble:after { /* adds the darker lowlight on the bottom of the bubble */
   content:"";
   display:block;
   position:absolute;
   width:87%;
   height:87%;
   border-radius:100%;
   left:7%;
   top:7%;
   box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
}


/* for small screens */
/*** One size **/

@media (max-width: 400px) {
    .bubble {
   width: 70px;
   height:70px;
    }
}

@media (min-width: 100px, max-width: 800px) {
    .bubble {
   width: 120px;
   height:120px;
    }
}



/* bubble fixed */
.bubble-fx {
       width:200px; /* Our bubble will be 200px wide and 200px tall */
       height:200px;
       margin:94px auto 50px auto;
       box-shadow:inset 30px 30px 75px rgba(0,0,0,.1), /* this gives us our subtle light gray background gradient */
                  inset 0px 0px 15px rgba(0,0,0,.5), /* this gives us the darker gray border around the whole bubble */
                  inset 0px 0px 55px rgba(255,255,255,.5), /* this gives us the more subtle white gradient all around the edge of the bubble */
                  inset 3px 3px 5px rgba(0,0,0,.5), /* this gives us the slightly darker top left edge */
                  0 0 50px rgba(255,255,255,.75); /* this puts a white glow all around the outside of the bubble to better contrast the edge */
       border-radius:100px; /* making our border-radius half the width/height ensures a perfectly round circle */
       background:rgba(255,255,255,.4); /* makes our bubble slightly lighter in color than the background */
       position:relative; /* allows us to absolutely position the pseudo elements within the bubble */
    }

.bubble-fx:before { /* adds the white highlight on the top left of the bubble */
   content:"";
   display:block;
   position:absolute;
   width:100px;
   height:100px;
   top:15px;
   left:15px;
   border-radius: 150px 50px;
   box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
}

.bubble-fx:after { /* adds the darker lowlight on the bottom of the bubble */
   content:"";
   display:block;
   position:absolute;
   width:170px;
   height:170px;
   border-radius:170px;
   left:15px;
   top:15px;
   box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
}
