/*------ FONTS ------*/
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One|Satisfy|Delius|Homemade+Apple);

/*

font-family: 'Indie Flower', cursive;

font-family: 'Poiret One', cursive;

font-family: 'Satisfy', cursive;

font-family: 'Delius', cursive;

font-family: 'Homemade Apple', cursive;

*/

/*---- General Styling ---------*/

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html {
    height: 100%;
}

body{
    font-family: 'Indie Flower', cursive;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#home-page {
    height: 100vh;
    min-height: 700px;
    width: 100%;
/*    overflow: hidden;*/
}

/*____________________________________________________________*/
/*------- VIDEO BG --------*/
.videobg {
    position: fixed;
    z-index: -10;

    /** FULL SCREENING **/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;


    filter:brightness(100%);
    -webkit-filter:brightness(100%);
    -moz-filter:brightness(30%);
    -o-filter:brightness(30%);
    -ms-filter:brightness(30%);
}

/
/*-------------------------------------------------------------- */
/*------- BODY ----------*/
/*--------------------------------------------------------*/
/*** HEADER ***/

#header {
    width: 100%;
    height: 50px !important;
    
}

#iO-menu.top-bar {
    color: #555 !important;
    background-color:transparent;
    padding: .5rem 2rem;
}

#iO-menu.top-bar ul{
    color: #555 !important;
    background-color:transparent;
}

#iO-menu.top-bar ul:hover{
    color: #555 !important;

}

#iO-menu.top-bar-right ul li {
    color: #555 !important;

}

#iO-menu.top-bar li a {
    color: #555 !important;
    font-size: 1.1rem;
    letter-spacing: -.05rem;
    font-weight: 600;
    
}

#iO-menu.top-bar li a:hover {


}

.ioTitle {
    color: #555 !important;
    font-size: 3.5rem;
    letter-spacing: -.05rem;
    font-weight: 600;
}

    /* Small only */
    @media screen and (max-width: 39.9375em) {
        .ioTitle {
            width: 100%;
/*            text-align: center*/
        }
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #iO-menu .top-bar-left {
/*            width: 100%;*/
        }

        #iO-menu .top-bar-right ul {
/*            margin-left: 33%;*/
        }


        .ioTitle {
/*            text-align: center*/
        }

    }

#iO-menu {}

#iO-menu .top-bar-right {
    width: 100%;
}


/* Small only */
    @media screen and (max-width: 39.9375em) {
        #iO-menu .top-bar-right ul {
/*            margin-left: 33%;*/
        }

        #emos {
/*            position: absolute;*/
/*            margin-left: 50%;*/
        }
    }

#iO-menu #emotions {
    display: flex !important;
    background-color: transparent;
    border: 1px #555 solid;
    width: 165px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
}

#iO-menu #emotions:hover {
/*    background-color: #e6e6e6;    */
}

#iO-menu #emotions>* {
    width: auto;
}

#iO-menu #emotions>.arrow {
    margin-left: 5px;
}

#iO-menu #emotions>.arrow img {
    width: 50%;
}

#emos {
    left: auto;
    right: auto !important;
    width: 165px !important;
    min-width: 160px;
    border: 0px solid;

}

#emos>li {
    width: 165px !important;
}

#emos>li:hover {
/*    background-color:rgba(192,192,192,0.6);*/
/*    color: #fff;*/
}

#emos>li a {
/*    padding: .7rem 1rem;*/
    width: 165px !important;
    text-align: center;
}

#emos>li a:hover {
/*    background-color:rgba(192,192,192,0.4);*/
    border: 1px #555 solid;
}

/*hover stuff*/
#emos #nav-anger:hover {
    color: crimson !important;
}
#emos #nav-joy:hover {
    color: yellow !important;
}
#emos #nav-disguist:hover {
    color: green !important;
}
#emos #nav-fear:hover {
    color: rebeccapurple!important;
}
#emos #nav-sadness:hover {
    color: mediumblue!important;
}

/*--------------------------------------------------------*/
/*---------- Content ---------*/
.container {
    height: calc(100% - 95px);
}

.columns, .column {
    margin: 0 auto;
    padding: 0;
}

#body-content {
    height: auto;
    min-height: 500px;
/*    width: 60%;*/
    min-width: 500px;
/*    max-width: 700px;;*/
    position: relative;
    margin-top: 150px;
}

    /* Small only */
    @media screen and (max-width: 39.9375em) {
        #body-content {
            height: auto;
            min-height: 300px;
            min-width: 95%;
            margin-top: 150px;
        }
    }
    
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #body-content {
            height: auto;
            min-height: 400px;
            width: 80%;
            margin-top: 10px;
            
        }
    }


/*** Circular Divs ***/
.s2 {
    width: 20%;
    height: 100%
}


#icon-row-1 {
    position: relative;
    height: 200px;
    padding-top: 60px;
    margin-top: 50px;
    display: none;
}

.circleBase {
    /** Making Circle div responsive **/
/*    width:50%;*/
    height: 0;
    border-radius: 50%;

    background: transparent;
    border: 3px solid;
    overflow: hidden;
}

.circleBase img {
    float:left;
    width:100%;
    padding-top: 0;
    margin-top:0;
    line-height:1em;
    text-align:center;
    color:white;
}

.s4 {
    height: 100%;
    position: relative;
}


/*ROW 2*/
#icon-row-2 {
    position: relative;
    height: auto;
    min-height: 250px;
/*    padding-top: 30px;*/
    
    flex-flow: row wrap;
}

#icon-row-2 .circleBase {
    width: 200px;
    height: 200px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

#icon-row-2 .circleBase img {
    float:left;
    width:100%;
    padding-top: 0;
    margin-top:0;
    line-height:1em;
    text-align:center;
    color:white;
}

    /* Small only */
    @media screen and (max-width: 35.9375em) {
        #icon-row-2 {
            position: relative;
            height: auto;
            min-height: 250px;
            flex-flow: row wrap;
            margin-top: 300px;
        }
    }


    /* Medium only */
    @media screen and (min-width: 30em) and (max-width: 63.9375em) {
        #icon-row-2 {
            position: relative;
            height: auto;
            min-height: 250px;
            margin-top: 00px;
        }

        #icon-row-2 .circleBase {
            width: 200px;
            height: 200px;
            margin-right: 5%;
            margin-left: 0%;
            margin-bottom: 5%;
        }        
    }

/***** Animations *****/
/**Animation shorthand is:
    animation:name duration timing-function delay iteration-count   direction fill-mode play-state
    Default value:	none 0 ease 0 1 normal none running
**/


#anger {
    border:red;
/*    margin-left: 22%;*/
    margin-top: -30%;

    /*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

    -webkit-animation: bounceInUp 5s ease -.5s,
        pulse 3s ease 5s infinite ;
    animation:  bounceInUp 5s ease -.5s,
        pulse 3s ease 5s infinite ;



}

#anger:hover {}
#joy {
    border:yellow;
/*
    margin-left: 0;
    margin-top: 0;
*/

    -webkit-animation: bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
    animation:  bounceInUp 7s ease 0s,
        pulse 3s ease 7s infinite ;
}

#disguist {
    border:green;
/*
    margin-left: 50%;
    margin-top: 0;
*/

    -webkit-animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
    animation: bounceInUp 10s ease 0s,
        pulse 3s ease 10s infinite ;
}

#sad {
    border:blue;
/*
    margin-left: 43%;
    margin-top: -30%;
*/
    -webkit-animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
    animation: bounceInUp 13s ease 0s,
        pulse 3s ease 13s infinite ;
}

#fear {
    border:purple;
/*
    margin-left: 3%;
    margin-top: -30%;
    
*/
   -webkit-animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;

    animation: bounceInUp 15s ease 0s,
        pulse 3s ease 15s infinite ;
}

#anger:hover, #joy:hover, #disguist:hover, #fear:hover, #sad:hover {
/*
    -webkit-animation-name: shake;
    animation-name: shake;
*/
    cursor: pointer;
}






/* Small only */
    @media screen and (max-width: 39.9375em) {
        #anger {
            margin-top: 0%;
        }

/*
        #disguist {
            margin-top: 10%;
        }

        #sad {
            margin-top: -60%;
        }

        #joy {
            margin-top: 10%;
        }
*/
    }

    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 53.9375em) {
        #anger {
        margin-top: 0%;
        }
    }
